body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #fef3c7, #e0f2fe);
  color: #1f2937;
}

/* HEADER */
header {
  background: linear-gradient(135deg, #7c3aed, #ec4899);
  color: white;
  text-align: center;
  padding: 40px 20px;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

/* NAV */
nav {
  margin-top: 20px;
}

nav a {
  background-color: white;
  color: #7c3aed;
  text-decoration: none;
  padding: 10px 18px;
  margin: 5px;
  border-radius: 25px;
  font-weight: bold;
  display: inline-block;
  transition: 0.3s;
}

nav a:hover {
  background-color: #fde68a;
  color: #7c3aed;
}

/* MAIN */
main {
  max-width: 950px;
  margin: 40px auto;
  padding: 10px;
}

/* CARDS */
.card {
  background-color: white;
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 15px;
  border-left: 6px solid #ec4899;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* GRID */
.grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.grid div {
  background-color: white;
  flex: 1;
  min-width: 220px;
  padding: 20px;
  border-radius: 15px;
  border-top: 6px solid #7c3aed;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* HEADINGS */
h2 {
  color: #7c3aed;
}

h3 {
  color: #ec4899;
}

/* REFERENCES */
.references {
  background-color: #fef9c3;
  padding: 20px;
  border-radius: 15px;
}

/* FOOTER */
footer {
  background: linear-gradient(135deg, #7c3aed, #ec4899);
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
